{% extends 'core/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="text-4xl font-bold mb-8">Bienvenido al Sistema de Gestión de Acceso</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <a href="{% url 'registro_visitantes' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-4 px-6 rounded">
            Registro de Visitantes
        </a>
        <a href="{% url 'registro_vehiculos' %}" class="bg-green-500 hover:bg-green-600 text-white font-bold py-4 px-6 rounded">
            Registro de Vehículos
        </a>
        <a href="{% url 'registro_proveedores' %}" class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-4 px-6 rounded">
            Registro de Proveedores
        </a>
    </div>
</div>
{% endblock %}